
/* ############################## 공통 ############################## */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}
.header-wrap,
.banner-wrap,
.hot-item-wrap,
.footer_wrap {
    margin: 0 auto;
    max-width: 1120px;
}

body {
    padding-top: var(--header-height);
}

/* ############################## header ############################## */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-100);
}

.header-wrap {
    width: calc(100% - 400px);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.logo-text {
    font-family: var(--font-logo);
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);

}

.login-btn {
    display: inline-block;
    width: 128px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ############################## banner ############################## */
.banner-section {
    background-color: var(--color-banner-bg);
    height: 540px;
    padding: 0 80px;
    gap: 80px;
}

.banner-wrap {
    min-width: 1120px;
    height: inherit;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.banner-text {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.banner-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-gray-900);
    line-height: 1.4;
}

.banner-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 52px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}

.banner-image img {
    max-height: 100%;
    width: auto;
    display: block;
}
/* ############################## hot-item ############################## */
.hot-item {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: var(--color-white);
    font-family: var(--font-main);
}

.hot-item-wrap {
    min-width: 988px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: var(--color-bg);
    cursor: pointer;
}

.hot-item__image img {
    width: 100%;
    max-width: 588px;
    height: auto;
    border-radius: 16px;
}

.hot-item__text {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    gap: 16px;
}

.hot-item__text.right_text {
    text-align: right;
}

.hot-item__label {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 18px;
}

.hot-item__title {
    color: var(--color-gray-900);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.hot-item__desc {
    color: var(--color-gray-700);
    font-size: 24px;
    line-height: 1.6;
}

/* ############################## footer ############################## */
.footer {
    height: 160px;
    background-color: var(--color-footer-bg);
    color: var(--color-gray-400);
    font-family: var(--font-main);
    font-size: 16px;
}

.footer_wrap {
    width: calc(100% - 400px);
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__center a {
    color: var(--color-gray-400);
    margin: 0 12px;
    text-decoration: none;
}

.footer__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer__right a {
    margin-left: 12px;
}

.footer__right img {
    width: 20px;
    height: 20px;
}
