/* ############################## form ############################## */
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-gray-800);
}

.form-box input {
  width: 100%;
  height: 56px;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #f5f6f7;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gray-800);
}

.form-box input::placeholder {
  color: #9ca3af;
}

.form-box input:focus {
  border: 1px solid var(--color-primary);
}

.form-box input.error {
  border: 1px solid var(--color-error);
}

.form-box .input-box span {
  color: var(--color-error); /* error */
  display: inline-block;
  margin: 8px 0 0 16px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper button.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../assets/btn/btn_visibility_off_24px.svg");
}

.password-wrapper button.password-toggle.active {
  background-image: url("../assets/btn/btn_visibility_on_24px.svg");
}

/* ############################## form btn ############################## */
.form-btn {
  width: 100%;
  height: 56px;
  gap: 10px;
  opacity: 0.7;
  border-radius: 40px;
  padding: 1rem 7.75rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
  background-color: var(--color-gray-400);
  cursor: pointer;
}

.form-btn.active {
  background-color: var(--color-primary);
  opacity: 1;
}

/* ############################## loginSignup link ############################## */
.loginSignup {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

.loginSignup a {
  margin-left: 4px;
  color: var(--color-primary);
  text-decoration: underline;
}

/* ############################## alert-box ############################## */

.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.alert-box {
  position: relative;
  max-width: 540px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.alert-box span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-gray-800);
}

.alert-box button.close-btn {
  position: absolute;
  bottom: 28px;
  right: 28px;
  padding: 14.5px 46px;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  background: var(--color-primary);
  cursor: pointer;
}

/* ############################## media-query ############################## */
@media (max-width: 1199px) {
}

@media (max-width: 743px) {
  .login-container {
    max-width: 400px;
    padding: 0px 16px;
  }

  .logo {
    width: 196px;
  }

  .logo img {
    width: 52px;
    height: 52px;
  }

  .logo h1 {
    font-size: 2.2rem;
  }

  label {
    font-size: 1rem;
  }

  .overlay-content {
    padding: 0 24px;
  }
}

@media (max-width: 375px) {
}
